Source: imagemagick-alfresco
Section: graphics
Priority: optional
Maintainer: Alfresco Ops Readiness <alfresco-build@hyland.com>
Build-Depends: autotools-dev, libjbig-dev,
 ghostscript, gsfonts, fonts-dejavu-core,
 libsm6, libfftw3-dev, liblcms2-dev, gawk, zlib1g-dev,
 libglib2.0-dev, libzip-dev, libfribidi-dev, mime-support,
 libxdmcp-dev, liblzma-dev, libjpeg-turbo8, libpng-dev,
 libsigsegv2, libfontconfig1-dev,
 libpixman-1-dev, libxext-dev,
 libxrender-dev, libthai-dev, locales, libraqm-dev,
 libbz2-dev, libdatrie-dev, libmagic-mgc, libffi-dev,
 libxcb1, libwebp7, libxcb1-dev, libxdmcp6,
 libtiff-dev, x11proto-dev, uuid-dev, libglib2.0-0,
 libxext6, libtiff5, libmagic1,
 pkg-config, libice6, libwebp-dev, libopenjp2-7-dev,
 file, libx11-dev, libgraphite2-dev, libxau-dev,
 libjbig0, libcairo2-dev,
 libexpat1-dev, liblqr-1-0-dev, libraw-dev, libbsd0,
 libopenexr-dev, libx11-6, libpango1.0-dev, libxau6
Standards-Version: 4.4.1
Homepage: https://imagemagick.org

Package: imagemagick-alfresco
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: ImageMagick 7 for Alfresco Transformation service
 This is the vanilla ImageMagick 7 software packaged for automated
 Alfresco deployments. All credit goes to ImageMagick Studio LLC, their
 contributors and community.

Package: imagemagick-alfresco-dev
Architecture: any
Description: ImageMagick 7 headers files
 This is the vanilla ImageMagick 7 software.
 All credit goes to ImageMagick Studio LLC, their contributors and community.
