<settings>
    <profiles>
        <profile>
            <id>thirdparty</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>thirdparty</id>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <name>Alfresco 3rd Party Repository</name>
                    <url>https://nexus.alfresco.com/nexus/content/repositories/thirdparty/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>


    <servers>
        <server>
            <id>thirdparty</id>
            <username>${env.MAVEN_USERNAME}</username>
            <password>${env.MAVEN_PASSWORD}</password>
        </server>
    </servers>
</settings>